In [3]:
import random
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import math
import re
from collections import Counter
import scipy.stats
import seaborn as sns

In [4]:
path1 = r'E:\netData\SciSciNet\2000-2015\paper2000-2015.tsv.zip'

In [5]:
df1 = pd.read_csv(path1)

C:\Users\nd\AppData\Local\Temp\ipykernel_7192\108811795.py:1: DtypeWarning: Columns (25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(path1)

In [6]:
# path2 = r'E:\netData\SciSciNet\data\SciSciNet_PaperDetails.tsv.zip'
# columns = ['PaperID', 'Volume', 'Issue','FirstPage', 'LastPage' ]
# df2 = pd.read_csv(path2 , sep = '\t', usecols=columns)
# for column in df2.columns[1:]:
#     df1[column] = df1['PaperID'].map(df2.set_index('PaperID')[column])
# df1.to_csv(path1 , index = False)

In [ ]:
# def get01(x):
#     if x == 0:
#         return 0
#     else:
#         return 1
# df0['NIH']  = df0['NIH_Count'].apply(get01)
# df0['NSF']  = df0['NSF_Count'].apply(get01)

# for column in ['FirstPage', 'LastPage']:
#     df0[column] = df0[column].fillna(0)
    
# df0['Institution_Count'] = df0['Institution_Count'].fillna(1).apply(int)

# def get_page(x):
#     if type(x) == str:
#         if len(x) == 0:
#             return 0  # Return 0 for empty strings
#         elif '–' in x:
#             x = x.split('–')[-1]
#         elif '-' in x:
#             x = x.split('-')[-1]

#     try:
#         x = int(float(x))
#     except ValueError:
#         x = 0  # Return 0 for values that cannot be converted to float

#     return x
# for column in ['FirstPage', 'LastPage']:
#     df0[column] = df0[column].apply(get_page)

In [7]:
def get01(x):
    if x == 0:
        return 0
    else:
        return 1
df1['NIH']  = df1['NIH_Count'].apply(get01)
df1['NSF']  = df1['NSF_Count'].apply(get01)

In [8]:
for column in ['Volume', 'Issue', 'FirstPage', 'LastPage']:
    df1[column] = df1[column].fillna(0)

In [11]:
df1

,PaperID,Year,FieldID,JournalID,Reference_Count,C_f,C5,Team_Size,Disruption,Atyp_10pct_Z,...,NCT,Institution_Count,NIH_Count,NSF_Count,Volume,Issue,FirstPage,LastPage,NIH,NSF
0,2789336,2008,33923547,204851967,13,0.072363,1,2,-0.001927,5.500000,...,0,NaN,0,0,0.0,0.0,354.0,358.0,0,0
1,191292197,2003,162324750,85146435,7,0.615370,6,1,0.028249,23.854084,...,0,NaN,0,0,105.0,1257.0,396.0,410.0,0,0
2,204935239,2003,71924100,13978405,13,0.812368,12,1,0.000000,6.597039,...,0,1.0,0,0,178.0,9.0,0,0,0,0
3,254201335,2004,127413603,13624874,14,1.084080,3,2,-0.000400,57.706944,...,0,NaN,0,0,49.0,1.0,13.0,16.0,0,0
4,273108480,2015,162324750,160393188,24,4.363288,23,1,-0.001233,21.198999,...,0,1.0,0,0,37.0,37.0,1.0,20.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18737863,2410441973,2014,71924100,2755924294,40,1.279841,12,3,0.002320,0.480196,...,0,NaN,0,0,56.0,4.0,237,246,0,0
18737864,2411860195,2014,71924100,2755060417,3,0.196899,2,3,0.037736,54.016285,...,0,NaN,0,0,93.0,8.0,302,303,0,0
18737865,19283373,2007,144024400,2764989208,5,0.999786,6,1,0.000000,226.953674,...,0,NaN,0,0,89.0,327.0,29,36,0,0
18737866,2798896096,2006,33923547,35440848,27,2.924278,28,3,-0.001645,0.639332,...,0,3.0,0,1,24.0,3.0,319,363,0,1
18737867,253521075,2011,86803240,124250138,31,0.333784,6,5,-0.000374,-14.518139,...,0,3.0,0,0,6.0,12.0,1921,1924,0,0

In [13]:
df2 = df1[df1['NIH']==1].copy()
df2.index = range(len(df2))

In [14]:
df2

,PaperID,Year,FieldID,JournalID,Reference_Count,C_f,C5,Team_Size,Disruption,Atyp_10pct_Z,...,NCT,Institution_Count,NIH_Count,NSF_Count,Volume,Issue,FirstPage,LastPage,NIH,NSF
0,1816482797,2015,86803240,166515463,29,1.305137,15,7,0.000106,-4.246876,...,0,3.0,1,0,24.0,21.0,5995.0,6002.0,1,0
1,1964555670,2010,185592680,201989124,103,2.276905,20,2,-0.004883,135.136452,...,0,1.0,3,0,12.0,12.0,2706.0,2709.0,1,0
2,1966827022,2013,86803240,86033158,120,1.843209,34,8,-0.000103,-12.674213,...,0,1.0,5,0,9.0,2.0,0,0,1,0
3,1967136562,2004,185592680,111155417,11,4.324440,46,3,-0.060700,43.863065,...,0,1.0,2,0,126.0,4.0,1018.0,1019.0,1,0
4,1970867439,2012,0,202381698,49,1.893998,38,14,-0.001599,17.692563,...,0,1.0,3,0,7.0,7.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287993,2144553334,2004,86803240,145090216,19,0.310936,10,7,-0.000943,80.584452,...,0,2.0,2,0,36.0,4.0,259,268,1,0
1287994,2155219718,2004,86803240,81455967,82,0.888389,21,4,-0.000914,18.077541,...,0,1.0,1,0,24.0,9.0,3660,3669,1,0
1287995,2161112640,2014,86803240,1336409049,71,4.320846,64,6,-0.009412,-14.274581,...,0,1.0,1,0,3.0,0.0,0,0,1,0
1287996,2346551756,2001,185592680,87338489,34,0.544869,7,7,-0.002238,-1.610116,...,0,2.0,2,0,281.0,6.0,0,0,1,0
1287997,2409914300,2014,86803240,2764826640,15,0.245503,5,6,-0.001450,1.978122,...,0,2.0,1,0,1174.0,0.0,407,421,1,0

In [ ]:
merged_df = df1.merge(df2, on=['Year', 'FieldID', 'JournalID', 'Volume', 'Issue'], how='inner')

# for i in df2.index():
#     Year = df2.Year.values[i]
#     FieldID = df2.FieldID.values[i]
#     JournalID = df2.JournalID.values[i]
#     Volume = df2.Volume.values[i]
#     Issue = df2.Issue.values[i]
#     df1.loc[(df1['Year']==Year) &(df1['FieldID']==FieldID) &(df1['JournalID']==JournalID) &(df1['Volume']==Volume)&(df1['Issue']==Issue) ,:]

In [26]:
columns_to_keep = [col for col in merged_df.columns if not col.endswith('_y')]
merged_df2 = merged_df[columns_to_keep]

In [31]:
merged_df2.columns = merged_df2.columns.str.replace('_x', '')

In [32]:
merged_df2

,PaperID,Year,FieldID,JournalID,Reference_Count,C_f,C5,Team_Size,Disruption,Atyp_10pct_Z,...,NCT,Institution_Count,NIH_Count,NSF_Count,Volume,Issue,FirstPage,LastPage,NIH,NSF
0,1816482797,2015,86803240,166515463,29,1.305137,15,7,0.000106,-4.246876,...,0,3.0,1,0,24.0,21.0,5995.0,6002.0,1,0
1,1824457652,2015,86803240,166515463,65,3.371604,50,21,-0.004329,-7.690156,...,0,5.0,0,0,24.0,21.0,5965,5976,0,0
2,1893201598,2015,86803240,166515463,28,3.534746,52,11,-0.007772,19.962751,...,0,3.0,0,0,24.0,21.0,5977,5984,0,0
3,1875600228,2015,86803240,166515463,40,0.815711,14,8,-0.000523,-6.721229,...,0,2.0,2,0,24.0,21.0,6093,6105,1,0
4,1503301128,2015,86803240,166515463,67,2.283990,35,10,-0.000589,-0.049458,...,0,3.0,0,0,24.0,21.0,6066,6079,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59643734,2165646896,2004,86803240,145090216,17,0.244307,9,3,0.000314,3.186190,...,0,1.0,0,0,36.0,4.0,250,258,0,0
59643735,2156997304,2004,86803240,145090216,16,0.510824,8,4,-0.001564,85.732503,...,0,1.0,0,0,36.0,4.0,284,289,0,0
59643736,2104663756,2004,86803240,145090216,18,0.333146,8,3,-0.002029,-3.352016,...,0,1.0,0,0,36.0,4.0,269,276,0,0
59643737,2131685436,2004,86803240,145090216,47,0.111049,4,4,-0.001212,10.599674,...,0,1.0,0,0,36.0,4.0,243,249,0,0
59643738,2144553334,2004,86803240,145090216,19,0.310936,10,7,-0.000943,80.584452,...,0,2.0,2,0,36.0,4.0,259,268,1,0

In [33]:
merged_df2.to_csv(r'E:\netData\SciSciNet\2000-2015\matchedNIH2000-2015.tsv.zip' , index = False)

# NSF

In [9]:
df3 = df1[df1['NSF']==1].copy()
df3.index = range(len(df3))

In [10]:
merged_df = df1.merge(df3, on=['Year', 'FieldID', 'JournalID', 'Volume', 'Issue'], how='inner')

In [11]:
columns_to_keep = [col for col in merged_df.columns if not col.endswith('_y')]
merged_df3 = merged_df[columns_to_keep]

In [12]:
merged_df3.columns = merged_df3.columns.str.replace('_x', '')

In [15]:
merged_df3.drop_duplicates(inplace=True)

C:\Users\nd\AppData\Local\Temp\ipykernel_7192\2015421539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df3.drop_duplicates(inplace=True)

In [16]:
merged_df3

,PaperID,Year,FieldID,JournalID,Reference_Count,C_f,C5,Team_Size,Disruption,Atyp_10pct_Z,...,NCT,Institution_Count,NIH_Count,NSF_Count,Volume,Issue,FirstPage,LastPage,NIH,NSF
0,305584680,2015,185592680,133942674,38,1.380257,18,4,-0.007126,9.592317,...,0,1.0,0,1,56.0,27.0,4060.0,4062.0,0,1
2,2952876529,2015,185592680,133942674,44,1.248804,18,5,-0.004666,-92.831876,...,0,1.0,0,0,56.0,27.0,4080.0,4083.0,0,0
4,245651248,2015,185592680,133942674,29,0.591539,9,5,-0.002064,-49.824443,...,0,1.0,0,0,56.0,27.0,4128.0,4130.0,0,0
6,2949265031,2015,185592680,133942674,26,0.328633,4,6,-0.000893,105.086685,...,0,2.0,0,0,56.0,27.0,4057,4059,0,0
8,2949360656,2015,185592680,133942674,14,0.788718,12,6,-0.004751,183.165070,...,0,2.0,0,1,56.0,27.0,4124,4127,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18940208,1635102558,2014,41008148,167961193,20,5.829641,33,2,-0.000005,-14.961206,...,0,1.0,1,1,59.0,13.0,1,21,1,1
18940209,2108135219,2015,41008148,113186628,19,1.271396,11,8,0.000189,-12.289726,...,0,2.0,0,2,2015.0,0.0,9,19,0,1
18940210,2322633382,2011,41008148,2764728784,24,0.296989,2,2,0.000292,42.265078,...,0,NaN,0,1,1.0,2.0,211,224,0,1
18940211,2419668291,2012,192562407,2764826640,13,2.802475,28,2,-0.005609,11.383161,...,0,1.0,0,1,819.0,0.0,393,404,0,1
18940212,2091588364,2011,39432304,28101772,42,1.668763,15,4,-0.000088,-2.885121,...,0,1.0,0,1,46.0,3.0,487,502,0,1

In [17]:
merged_df3.to_csv(r'E:\netData\SciSciNet\2000-2015\matchedNSF2000-2015.tsv.zip' , index = False)